.button-period {
  background-color: var(--button-period-color) !important;
  border-color: var(--border-button-period-color) !important;
  color: var(--font-color) !important;
}

.start-button-group {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.end-button-group {
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.button-active {
  background-color: var(--period-active) !important;
  color: var(--emphasis-base-high) !important;
}