.header-container {
  display: flex !important;
  justify-content: start !important;
  width: 100% !important;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
  width: 100%;
}

.instrument {
  font-size: 18px;
  text-transform: uppercase;
}

.instrument-value {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}